<h2
    class="text-sm font-bold uppercase tracking-widest text-slate-400 mb-6 border-t pt-8"
>
    Proyectos Destacados
</h2>
<!--tracking-widest sirve para aumentar el espacio entre las letras -->

<div
    class="p-6 bg-slate-50 rounded-xl border-l-4 border-blue-600 shadow-sm mb-10"
>
    <div class="flex justify-between items-center mb-2">
        <!--flex justify-between sirve para distribuir el espacio disponible de manera uniforme entre los elementos -->
        <h3 class="text-lg font-bold text-slate-800">Sistema de Kiosco en C</h3>
        <span
            class="text-xs font-mono bg-blue-100 text-blue-700 px-2 py-1 rounded"
            >Persistencia en Archivos</span
        >
        <!-- font mono para cambiar la fuente del elemento -->
    </div>
    <p class="text-sm text-slate-600 mb-4">
        Solución integral para gestión comercial con almacenamiento en <strong
            >archivos binarios</strong
        >, asegurando la persistencia de stock y ventas.
    </p>
    <div
        class="flex gap-2 items-center text-[10px] font-bold text-slate-500 italic"
    >
        <span class="uppercase text-slate-400 not-italic">Utilizado:</span> Manejo
        de Memoria, Punteros, CRUD. <!-- not italic, es una fuente que pone el elemento en cursiva o no, not-italic no lo pone en cursiva, italic si  -->
    </div>
</div>