---
import Layout from "../layouts/Layout.astro";
import ModoOscuro from "../components/modoOscuro.svelte";
import Habilidades from "../components/Habilidades/habilidades.astro";
import Proyecto from "../components/Proyecto/proyectos.astro";
import InteresEidioma from "../components/InteresesEidioma/interesesEidioma.astro";
---

<Layout>
  <header
    class="flex shadow-md py-4 px-4 sm:px-10 bg-white min-h-[17.5] tracking-wide relative z-50 dark:bg-slate-900 transition-colors duration-300"
  >
    <ModoOscuro client:load />
  </header>

  <div class="min-h-screen flex items-center justify-center bg-slate-50 dark:bg-slate-900 transition-colors duration-300 p-6">
    <main
      class="w-full max-w-2xl bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden dark:border-slate-800 transition-colors duration-300"
    >
      <header class="bg-blue-600 dark:bg-blue-700 p-8 text-white">
        <h1 class="text-3xl font-bold tracking-tight">Lautaro Saint Martin</h1>
        <!--font-bold para que el texto aparezca mas grueso y oscuro, tracking-tight sirve para reducir los especios entre caracteres haciendo que se vea mas compacto -->
        <p class="text-blue-100 mt-1 font-medium">
          Estudiante de 2do año de Programación
        </p>
        <div class="flex gap-4 mt-4 text-sm text-blue-50">
          <a href="https://maps.app.goo.gl/Cg3zX6C9Fv6c4THR7"><span>📍 Ceres, Sta Fe, Argentina</span></a>
          <a href="https://wa.me/3491544560?text=Me,%20gusta%20elpene"><span>📞 +54 9 (3491) 544560</span></a>
        </div>
      </header>

      <div class="p-8 dark:bg-slate-900">
        <Habilidades />

        <Proyecto />

        <InteresEidioma />

        <footer
          class="mt-10 pt-8 border-t border-slate-100 flex justify-center"
        >
          <a
            href="/"
            class="group flex items-center gap-2 text-slate-500 hover:text-blue-600 transition-colors font-medium"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 group-hover:-translate-x-1 transition-transform"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
            </svg>
            Volver al inicio
          </a>
        </footer>
      </div>
    </main>
  </div>

</Layout>
