<h2 class="text-sm font-bold uppercase tracking-widest text-slate-400 mb-6 dark:bg-slate-900">
  Mis Habilidades
</h2>

<div class="space-y-4 mb-4 pb-4 ">
  <div class="grid grid-cols-3 gap-4 items-start dark:border-slate-800">
    <span class="text-slate-900 font-semibold text-sm dark:text-white">Frontend</span>
    <div class="col-span-2 flex flex-wrap gap-2">
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >HTML</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >CSS</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >TS</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >JS</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >Tailwind CSS</span
      >
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 items-start border-t border-slate-50 pt-4 dark:border-slate-800">
    <span class="text-slate-900 font-semibold text-sm dark:text-white">Backend</span>
    <!--font-semibold para marcar en negrita pero mas pequeño-->
    <div class="col-span-2 flex flex-wrap gap-2">
      <!--col-span  sirve para fusionar celdas horizontalmente-->
      <span
        class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >C</span
      >
      <!--py-1 (padding) se usa para controlar el espacio vertical de un elemento -->
      <span
        class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >Java</span
      >
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 items-start border-t border-slate-50 pt-4 dark:border-slate-800">
    <span class="text-slate-900 font-semibold text-sm dark:text-white">Herramientas</span>
    <div class="col-span-2 my-0 text-slate-600 text-sm flex gap-2 flex-wrap">
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >Git</span
      >
      <!--rounded md para sirve para redondear bordes medianos a los elementos -->
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >GitHub</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >VS Code</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >Postman</span
      >
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 items-start border-t border-slate-50 pt-4 dark:border-slate-800">
    <span class="text-slate-900 font-semibold text-sm dark:text-white">Base de datos</span>
    <div class="col-span-2 my-0 text-slate-600 text-sm flex gap-2 flex-wrap">
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm dark:bg-slate-800 dark:text-white"
        >PostgreSQL</span
      >
    </div>
  </div>
</div>
