<h2 class="text-sm font-bold uppercase tracking-widest text-slate-400 mb-6">
  Mis Habilidades
</h2>

<div class="space-y-4 mb-4">
  <div class="grid grid-cols-3 gap-4 items-start">
    <span class="text-slate-900 font-semibold text-sm">Lenguajes</span>
    <div class="col-span-2 flex flex-wrap gap-2">
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >Java</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >MD</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >C</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >TypeScript</span
      >
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 items-start border-t border-slate-50 pt-4">
    <span class="text-slate-900 font-semibold text-sm">Frontend</span>
    <!--font-semibold para marcar en negrita pero mas pequeño-->
    <div class="col-span-2 flex flex-wrap gap-2">
      <!--col-span  sirve para fusionar celdas horizontalmente-->
      <span
        class="px-3 py-1 bg-blue-50 text-blue-700 rounded-md text-sm border border-blue-100"
        >HTML</span
      >
      <!--py-1 (padding) se usa para controlar el espacio vertical de un elemento -->
      <span
        class="px-3 py-1 bg-blue-50 text-blue-700 rounded-md text-sm border border-blue-100"
        >Tailwind CSS</span
      >
      <span
        class="px-3 py-1 bg-blue-50 text-blue-700 rounded-md text-sm border border-blue-100"
        >Astro</span
      >
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 items-start border-t border-slate-50 pt-4">
    <!--  -->
    <span class="text-slate-900 font-semibold text-sm">Herramientas</span>
    <div class="col-span-2 my-0 text-slate-600 text-sm flex gap-2 flex-wrap">
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >Git</span
      >
      <!--rounded md para sirve para redondear bordes medianos a los elementos -->
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >GitHub</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >VS Code</span
      >
      <span class="px-3 py-1 bg-slate-100 text-slate-700 rounded-md text-sm"
        >PostgreSQL</span
      >
    </div>
  </div>
</div>